h1{
	font-size: 150%;
	font-family: "Times New Roman", Georgia, Serif;
	
}
h2{
	font-size: 115%;
	font-family: "Times New Roman", Georgia, Serif;
}
ul{
	font-family: "Times New Roman", Georgia, Serif;
}
